body{
    background:rgb(136, 255, 0);
    font-family: 'Comforter', cursive;
}
.header_div{
    color:blue;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 3px;
}
#note{
    font-size: 30px;
}
.main_div button{
margin-top: 50px;
font-weight: bolder;
letter-spacing: 3px;
font-size: 30px;
}
.main_div h3{
    margin-top: 50px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 30px;
    }
    .copy_right_footer{
        position: fixed;
        bottom: 0;
        background-color:cornsilk;
        width: 100%;
        font-size: 30px ;
        line-height: 4;
        text-shadow: 5px 5px 5px yellow;
        color: blue;
        font-weight: bold;
    }

